.about {
  padding: 0;

  article {
    @include flex-column;
    @include padding-articles;

    text-align: left;
    color: white;
  }
  .first {
    @include background-links($secondary-accent-color, $invert: true);
  }
  .second {
    @include background-links($tertiary-color);
  }

  .btn-box {
    @include link;
    
    position: relative;
    display: block;
    border-radius: 10px;
    background: $primary-accent-color url('/assets/img/discord-btn-bg.png') center no-repeat;;
    color: $tertiary-accent-color;
    max-width: 550px;
    padding: 3rem;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px 0px #000;

    &:hover {
      background-color: $secondary-accent-color;
      color: lighten($primary-accent-color, 30%);
      border-color: lighten($primary-accent-color, 30%);
    }
  }

  .lines {
    position: relative;
    height: 2rem;
    width: 100%;

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 4px;
    }

    &::before {
      width: 30%;
      background: $secondary-color;
      top: 0.5rem;
      left: 1.25rem;
    }
    &::after {
      width: 25%;
      background: $primary-color;
      top: 1rem;
      left: 2rem;
    }
  }
  .subtitle {
    font-size: $subtitle-size;
    letter-spacing: 1px;
    color: $primary-accent-color;
    margin-bottom: 3rem;
  }
}
