.about {
  padding: 0;

  article {
    @include flex-column;
    @include padding-articles;

    text-align: left;
    color: white;
  }
  .first {
    @include background-links($secondary-accent-color, $invert: true);
  }
  .second {
    @include background-links($tertiary-color);
  }

  .btn-box {
    padding: 3rem;
    border-radius: 10px;
    background: $primary-accent-color;
    max-width: 550px;
    margin: 0 auto;
  }

  .lines {
    position: relative;
    height: 2rem;
    width: 100%;

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 4px;
    }

    &::before {
      width: 30%;
      background: $secondary-color;
      top: 0.5rem;
      left: 1.25rem;
    }
    &::after {
      width: 25%;
      background: $primary-color;
      top: 1rem;
      left: 2rem;
    }
  }
  .subtitle {
    font-size: $subtitle-size;
    letter-spacing: 1px;
    color: $primary-accent-color;
    margin-bottom: 3rem;
  }
}
