.events {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  @media (min-width: $min-md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  background-color: $tertiary-accent-color;
  text-align: left;

  .events-grid {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: $min-md) {
      width: 100%;

      .circle {
        margin: 0 auto 1.5rem 45px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $primary-color;
        position: relative;

        &::after {
          width: 50%;
          height: 50%;
          position: absolute;
          content: '';
          background: $tertiary-accent-color;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        background-color: $primary-color;
        top: 150px;
        bottom: 2rem;
        left: 60px;
      }

      article {
        display: grid;
        grid-template-columns: 200px auto;
        margin-left: 0;
        align-items: center;
      }
      @media (min-width: $min-lg) {
        article {
          grid-template-columns: 250px auto;
        }
      }

      .image {
        grid-area: image;
        display: block;
        margin: 0;
      }
    }
  }

  .title {
    color: white;
    margin-left: 2rem;
    @media (min-width: $min-md) {
      margin-left: 0;
    }
  }

  article {
    margin: 2rem;
    .top {
      background-color: $primary-color;
      padding: 2rem;
      color: $light-color;
      h3 {
        font-size: $subtitle-size;
        margin-bottom: 0.3rem;
      }
      h4 {
        display: grid;
        grid-template-columns: 100px 1fr;
        line-height: 1.6;
        align-items: center;
        letter-spacing: 1px;
      }
      .date span,
      .hours span,
      .where span {
        display: block;
        width: fit-content;
        background-color: $tertiary-accent-color;
        padding: 0.25rem 0.5rem;
        border-radius: $br-radius;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .hours span {
        background-color: $tertiary-color;
      }
      .where span {
        background-color: $primary-accent-color;
      }
    }
    .bottom {
      background-color: $light-color;
      background-image: url('/assets/img/flowers-corner-br.png');
      background-position: right bottom;
      background-size: 20% auto;
      background-repeat: no-repeat;
      padding: 2rem;
      ul {
        padding-left: 0.25rem;
        li {
          line-height: 2;
          a {
            text-decoration: underline;
            text-decoration-color: $secondary-color;
            text-decoration-thickness: 2px;
            color: $secondary-color;
            &:hover,
            &:active {
              color: $primary-color;
              text-decoration-color: $primary-color;
            }
          }
        }
      }
      ol {
        list-style: decimal;
      }
      .author {
        font-weight: $title-weight;
      }
    }
  }

  .image {
    display: block;
    margin: 0 auto;
    max-width: 150px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.box {
  border-radius: 5px;
}

.online .where span {
  background-color: $secondary-color !important;
}
@media (min-width: $min-md) {
  article {
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      'circle wrapper'
      '. wrapper';

    .circle {
      grid-area: circle;
    }
    .lines-wrapper {
      grid-area: wrapper;
    }
  }
}
