footer {
  color: $light-color;
  font-size: $sm-text-size;
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .all-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5rem 0;
  }
}
