.hero {
  padding-bottom: 0;
  h1 {
    font-size: $text-size;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    @media (min-width: $min-md) {
      font-size: $title-size;
    }
  }
  .hs3Logo {
    max-width: 450px;
    width: 80%;
    margin: 2rem auto;
  }
}
