.partners {
  text-align: left;
  padding: 0;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  // .title {
  //   margin-left: 2rem;
  //   @media (min-width: $min-md) {
  //     margin-left: 0;
  //   }
  // }
  .row {
    @media (min-width: $min-md) {
      padding-left: 0;
      padding-right: 5rem;
    }
  }

  article {
    @include flex-column;
    @include padding-articles;
    text-align: left;
    color: $tertiary-accent-color;
    @include background-links($light-color, 45%, 70%);

    .logos {
      @include flex;
    }
  }

  article:first-child {
    @include background-links($secondary-color, $invert: true);
    color: white;
  }

  article:nth-child(2) {
    @media (min-width: $min-md) {
      position: relative;
      &::before,
      &::after {
        position: absolute;
        content: '';
        background: transparent;
        z-index: -1;
      }
      &::before {
        width: 250px;
        height: 200px;
        border-bottom: 4px solid $primary-color;
        border-right: 4px solid $primary-color;
        bottom: -8px;
        right: -8px;
      }
      &::after {
        width: 180px;
        height: 150px;
        border-bottom: 4px solid $secondary-color;
        border-right: 4px solid $secondary-color;
        bottom: -16px;
        right: -16px;
      }
    }
  }
}
