@use 'sass:color';

.resources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 4em;
  align-items: start;
  justify-items: stretch;
  z-index: 2;

  @media screen and (max-width: $min-xl) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $min-md) {
    grid-template-columns: 1fr;
  }

  .lines-wrapper,
  .box,
  article,
  article main {
    height: 100%;
  }

  article {
    @include background-links($secondary-accent-color);

    text-align: left;
    border-radius: 5px;
    overflow: hidden;

    header {
      text-align: center;
      color: $primary-accent-color;
      max-height: none;
      line-height: normal;
      padding-top: 1em;
      padding-bottom: 1em;

      h3 {
        color: $primary-accent-color;
        text-shadow: 0px 0px 4px
          color.adjust($tertiary-accent-color, $alpha: -0.2);
        font-size: 1.2em;
        padding: 0 0.5em;

        quotes: '“' '”' '‘' '’';
        &::before {
          content: open-quote;
        }
        &::after {
          content: close-quote;
        }
      }
      h4 {
        color: $tertiary-accent-color;
        font-size: 0.9em;
      }
    }

    main {
      @include background-links($primary-accent-color);
      padding: 2em;
      font-size: 0.8em;

      li {
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 6px;
          height: 5px;
          width: 5px;
          border: 1px solid $tertiary-accent-color;
          border-width: 2px 2px 0 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}
