section.about
  .row
    article.first 
      h2.title Czym jest Hacktoberfest?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sequi maiores tenetur! Nisi in iure eligendi enim atque unde velit quisquam veniam vero veritatis expedita dolorum ab, nobis, dolore quia.Repellat amet alias odit pariatur beatae corrupti id earum,
    article.second
      h2.title Czym jest Hackerspace Trójmiasto?
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, aut iusto! Neque porro distinctio, rem similique dolores non et sapiente pariatur velit temporibus asperiores exercitationem ipsa, nihil dolorem recusandae repellat?Sequi officiis, ratione, optio quae tenetur itaque, inventore velit perspiciatis placeat voluptate tempora rerum. Reprehenderit distinctio quas natus, harum quia nisi aliquam consequuntur, veritatis sequi excepturi in neque ab deleniti!
  section.btn-box
    +join_discord_button

