section.about#about
  .row
    article.first 
      h2.title Czym jest Hacktoberfest?
      p Hacktoberfest to wydarzenie prowadzone już od 8 lat przez firmę 
        a(href="https://www.digitalocean.com/", target="_blank") DigitalOcean
        |
        |. Ma ono na celu popularyzację idei Open Source. To prelekcje, wykłady, warsztaty, a przede wszystkim wspieranie projektów na 
        a(href="https://github.com/", target="_blank") GitHubie
        |. 
      p Uczestnicy, którzy w październiku zgłoszą co najmniej 4 Pull Requesty do biorących udział w zabawie projektów dostaną w nagrodę koszulki od DigitalOcean (lub mogą wymienić je na sadzenie drzew).
      p 
        a(href="https://hacktoberfest.digitalocean.com/" target="_blank") Dowiedz się więcej z oficjalnej strony Hacktoberfest! 
        | 
    article.second
      h2.title Czym jest Hackerspace Trójmiasto?
      p Hackerspace Trójmiasto to społeczność ludzi chcących się rozwijać, dzielić wiedzą i wspólnie budować ciekawe projekty w przyjaznej atmosferze.
      p Jak co roku, od 2018, Hackerspace Trójmiasto organizuje wydarzenia z okazji Hacktoberfest. Nasze wydarzenia będą odbywały się stacjonarnie, a także online (na naszym discordzie).
      p W tym roku chcieliśmy połączyć zabawę z pomocą osobom zagrożonym cyfrowym wykluczeniem. Firma 
        a(href="https://mvpmatch.co/for-freelancers", target="_blank") MVP Match 
        | 
        | została naszym darczyńcą i zobowiązała się wpłacić 10 EURO na 
        a(href="https://sarigato.org/nasze-dzialania/hakersi", target="_blank") Fundację Sarigato - Hakersi 
        |
        | za każdą z pierwszych 30 osób, które ukończą wyzwanie Hacktoberfest, biorąc udział w naszym wydarzeniu.
  .lines
  section
    h3.subtitle Przyłącz się do naszej społeczności, zadawaj pytania i znajdź projekt dla siebie.
    a.btn-box(href="https://discord.com/invite/C7b4JNvw3a", target="_blank") Przyłącz się do nas na Discordzie!

