section.events#events
  h2.title Wydarzenia
  .events-grid 
    .image 
      img(src="/assets/img/H-icon-round-dorange.svg" alt="logo")
    +event({
      title: "Hacktoberfest: wprowadzenie",
      date: "09.10.2021",
      hours: "10:00 - 18:00",
      online: false
    }).first-event
      ul
        li Nojas “Moja przygoda z Open Source” (~45 min)
        li DoomHammer “Warsztaty GitHub + Git” (3h) na przykładzie tłumaczeń
        li Prezentacje naszych projektów (po 15 min):
          ul 
            li PyInterpolate
            li Robocop
            li Orpheus
            li Żeton
            li Kalendarz HS3
            li bot PAN Kreator
          li Hackathon ~14:00-18:00

    +event({
      title: "Live-hacking + mentoring",
      date: "12.10.2021",
      hours: "??",
      online: true
    }).online.lh-1

    +event({
      title: "Live-hacking + mentoring",
      date: "14.10.2021",
      hours: "??",
      online: true
    }).online.lh-2
    
    +event({
      title: "Live-hacking + mentoring",
      date: "19.10.2021",
      hours: "??",
      online: true
    }).online.lh-3

    +event({
      title: "Live-hacking + mentoring",
      date: "21.10.2021",
      hours: "??",
      online: true
    }).online.lh-4

    +event({
      title: "Hacktoberfest: Hackathon",
      date: "23.10.2021",
      hours: "10.00 - 18.00",
      online: false
    }).second-event 
      ul 
        li Szymon Moliński “Warsztaty Python & Open Source: jak przygotować, opublikować i utrzymać paczkę na PyPI.”
        li DoomHammer “Docker i kontenery aplikacji” live-hacking/warsztat + prezentacja (1h)
        li BYĆ MOŻE: DoomHammer “CI/CD z GitHub” live-hacking/warsztat
        li PyInterpolate
        li Piotr Suwała “Błędy są super: Jak uczyć się na swoich błędach i wcielać to w życie” 30-45min
            
        li Hackathon 13:00-18:00

    +event({
      title: "Hacktoberfest: Piknik",
      date: "29.10.2021",
      hours: "??",
      online: false
    }).third-event
