section.events#events
  h2.title Wydarzenia
  .events-grid 
    .image 
      img(src="/assets/img/H-icon-round-dorange.svg" alt="logo")
    +event({
      title: "Hacktoberfest: wprowadzenie",
      date: "09.10.2021",
      hours: "10:00 - 18:00",
      online: false
    }, ["bottom"]).first-event.bradius-tl-lg
      ul
        li 
          span.author Nojas 
          |
          span.presentation “Moja przygoda z Open Source” (~45 min)
        li 
          span.author Piotr Gaczkowski 
          span.presentation “Warsztaty GitHub + Git” (3h) na przykładzie tłumaczeń
        li Prezentacje naszych projektów (po 15 min):
          ol(style="padding-left: 3rem;")
            li PyInterpolate
            li Robocop
            li Orpheus
            li Żeton
            li Kalendarz HS3
            li bot PAN Kreator
          li 
            span.author Hackathon
            span.presentation  godz. 14:00-18:00

    +event({
      title: "Live-hacking + mentoring",
      date: "12.10.2021",
      hours: "??",
      online: true
    }, ["right"]).online.lh-1.bradius-bl-lg

    +event({
      title: "Live-hacking + mentoring",
      date: "14.10.2021",
      hours: "??",
      online: true
    }).online.lh-2.bradius-bl-lg.bradius-tr-lg
    
    +event({
      title: "Live-hacking + mentoring",
      date: "19.10.2021",
      hours: "??",
      online: true
    }, ["left"]).online.lh-3.bradius-br-lg

    +event({
      title: "Live-hacking + mentoring",
      date: "21.10.2021",
      hours: "??",
      online: true
    }, ["top", "bottom"]).online.lh-4

    +event({
      title: "Hacktoberfest: Hackathon",
      date: "23.10.2021",
      hours: "10.00 - 18.00",
      online: false
    }).second-event.bradius-tl-lg.bradius-br-lg
      ul 
        li
          span.author Szymon Moliński 
          |
          span.presentation “Warsztaty Python & Open Source: jak przygotować, opublikować i utrzymać paczkę na PyPI.”
        li 
          span.author Piotr Gaczkowski
          |
          span.presentation “Docker i kontenery aplikacji” live-hacking/warsztat + prezentacja (1h)
        li 
          span.author BYĆ MOŻE: Piotr Gaczkowski 
          |
          span.presentation “CI/CD z GitHub” live-hacking/warsztat
        li
          span.author Szymon Moliński 
          |
          span.presentation PyInterpolate
        li 
          span.author Piotr Suwała 
          |
          span.presetnation “Błędy są super: Jak uczyć się na swoich błędach i wcielać to w życie” (30-45min)
            
        li 
          span.author Hackathon 
          span.presentation godz. 13:00-18:00

    +event({
      title: "Hacktoberfest: Piknik",
      date: "29.10.2021",
      hours: "??",
      online: false
    }, ["left", "top"]).third-event.bradius-br-lg
      ul 
        
