section.events#events
  h2.title.title-divider Wydarzenia      
  .events-grid 
    .image 
      img(src="/assets/img/H-icon-round-dorange.svg" alt="logo")
    +event({
      title: "Hacktoberfest: wprowadzenie",
      date: "09.10.2021",
      hours: "10:00 - 18:00",
      online: false
    }, ["bottom"]).first-event.bradius-tl-lg
      ul
        li 
          span.author Mateusz Nojek "Nojas"
          |
          span.presentation “Zdobyłeś nowy przedmiot: Open Source (+10 do kariery)” (~45 min)
        li 
          span.author Piotr Gaczkowski 
          span.presentation “Warsztaty GitHub + Git” (3h) na przykładzie tłumaczeń
        li Prezentacje projektów biorących udział w wydarzeniu (po 15 min):
          ol(style="padding-left: 3rem;")
            li 
              a(href="https://github.com/DataverseLabs/pyinterpolate"   target="_blank") PyInterpolate
              | 
              | Szymon Moliński 
            li 
              a(href="https://github.com/MarketSquare/robotframework-robocop" target="_blank") Robocop 
              | 
              | & 
              |
              a(href="https://github.com/MarketSquare/robotframework-tidy" target="_blank") Robotidy
              | 
              | Mateusz Nojek "Nojas"
              
            li 
              a(href="https://github.com/hs3city/orpheus" target="_blank") Orpheus
              |
              | Jędrzej Szadejko
            li 
              a(href="https://www.projekt-zeton.pl" target="_blank") Żeton
              | 
              | Leszek Miotk 
            li Kalendarz HS3
            li 
              a(href="https://github.com/vevurka/pbc" target="_blank") bot PAN Kreator
          li 
            span.author Hackathon
            span.presentation  godz. 14:00-18:00
     
    +event({
      title: "Live-hacking + mentoring",
      date: "12.10.2021",
      hours: "18.00 - 21.00",
      online: true
    }, ["right"]).online.lh-1.bradius-bl-lg

    +event({
      title: "Live-hacking + mentoring",
      date: "14.10.2021",
      hours: "18.00 - 21.00",
      online: true
    }).online.lh-2.bradius-bl-lg.bradius-tr-lg
    
    +event({
      title: "Live-hacking + mentoring",
      date: "19.10.2021",
      hours: "18.00 - 21.00",
      online: true
    }, ["left"]).online.lh-3.bradius-br-lg

    +event({
      title: "Live-hacking + mentoring",
      date: "21.10.2021",
      hours: "18.00 - 21.00",
      online: true
    }, ["top", "bottom"]).online.lh-4

    +event({
      title: "Hacktoberfest: Hackathon",
      date: "23.10.2021",
      hours: "10.00 - 18.00",
      online: false
    }).second-event.bradius-tl-lg.bradius-br-lg
      ul 
        li
          span.author Szymon Moliński 
          |
          span.presentation “Warsztaty Python &amp; Open Source: jak przygotować, opublikować i utrzymać paczkę na PyPI.”
        li 
          span.author Piotr Gaczkowski
          |
          |
          span.presentation “Docker i kontenery aplikacji” live-hacking/warsztat + prezentacja (1h)
        li
          span.author Szymon Moliński 
          |
          span.presentation PyInterpolate
        li 
          span.author Piotr Suwała 
          |
          span.presetnation “Błędy są super: Jak uczyć się na swoich błędach i wcielać to w życie” (30-45min)
            
        li 
          span.author Hackathon 
          span.presentation godz. 13:00-18:00

    +event({
      title: "Hacktoberfest: Piknik",
      date: "29.10.2021",
      hours: "??",
      online: false
    }, ["left", "top"]).third-event.bradius-br-lg
      ul 
        
