section.events 
  h2.title Wydarzenia
  .events-grid 
    .image 
      img(src="/assets/img/H-icon-round-dorange.svg" alt="logo")
    article.first-event 
      .circle
      .box
        .top
          h3.sub-title Hacktoberfest: wprowadzenia
          h4.date Kiedy: 09.10.2021 
          h4.hours O której: 10.00 - 18.00
          h4.where Gdzie: Offline + streaming
        details.bottom 
          summary Tematy
          ul 
            li Nojas “Moja przygoda z Open Source” (~45 min)
            li DoomHammer “Warsztaty GitHub + Git” (3h) na przykładzie tłumaczeń
            li Prezentacje naszych projektów (po 15 min):
              ul 
                li PyInterpolate
                li Robocop
                li Orpheus
                li Żeton
                li Kalendarz HS3
                li bot PAN Kreator
              li Hackathon ~14:00-18:00
    article.online.lh-1
      .circle
      .box
        .top
          h3.sub-title Live-hacking + mentoring
          h4.date Kiedy: 12.10.2021 
          h4.hours O której
          h4.where Gdzie: ONLINe
        .bottom 
          button 
            a(href="#") Dołącz do naszego Discorda!

    article.online.lh-2
      .circle
      .box
        .top
          h3.sub-title Live-hacking + mentoring
          h4.date Kiedy: 14.10.2021 
          h4.hours O której
          h4.where Gdzie: ONLINe
        .bottom 
          button 
            a(href="#") Dołącz do naszego Discorda!    

    article.online.lh-3
      .circle
      .box
        .top
          h3.sub-title Live-hacking + mentoring
          h4.date Kiedy: 19.10.2021 
          h4.hours O której
          h4.where Gdzie: ONLINe
        .bottom 
          button 
            a(href="#") Dołącz do naszego Discorda!
    article.online.lh-4
      .circle
      .box
        .top
          h3.sub-title Live-hacking + mentoring
          h4.date Kiedy: 21.10.2021 
          h4.hours O której
          h4.where Gdzie: ONLINe
        .bottom 
          button 
            a(href="#") Dołącz do naszego Discorda!
        

    article.second-event 
      .circle
      .box
        .top
          h3.sub-title Hacktoberfest: Hackathon
          h4.date Kiedy: 23.10.2021 
          h4.hours O której: 10.00 - 18.00
          h4.where Gdzie: Offline + streaming
        details.bottom 
          summary Tematy
          ul 
            li Szymon Moliński “Warsztaty Python & Open Source: jak przygotować, opublikować i utrzymać paczkę na PyPI.”
            li DoomHammer “Docker i kontenery aplikacji” live-hacking/warsztat + prezentacja (1h)
            li BYĆ MOŻE: DoomHammer “CI/CD z GitHub” live-hacking/warsztat
            li PyInterpolate
            li Piotr Suwała “Błędy są super: Jak uczyć się na swoich błędach i wcielać to w życie” 30-45min
                
            li Hackathon 13:00-18:00
    article.third-event 
      .circle
      .box
        .top
          h3.sub-title Hacktoberfest: Piknik
          h4.date Kiedy: 29.10.2021 
          h4.hours O której
          h4.where Gdzie: Offline
        .bottom 

