header#menu
  ul
    li.brand: a(href="/#hero") 
      img(src="/assets/img/hs3_box_white.svg", alt="logo Hackerspace Trójomiasto")
    li: a(href="/#about") O Hacktoberfest
    li: a(href="/#events") Wydarzenia
    li: a(href="/#partners") Partnerzy
    li: a(href="/resources.pug") Zasoby
    li.hamburger: a(href="javascript:toggleMenu()") Menu
