header#menu
  ul
    li.brand: a(href="/#hero") Hackerspace Trójmiasto
    li: a(href="/#about") O Hacktoberfest
    li: a(href="/#events") Wydarzenia
    li: a(href="/#partners") Partnerzy
    li: a(href="/pug/resources.pug") Zasoby
    li.hamburger: a(href="javascript:toggleMenu()") Menu
