section.hero#hero
  img.mainLogo(src="/assets/img/Hacktoberfest_final_2color-11.png", alt="Logo Hacktoberfest")
  h1 wydarzenia organizowane przez 
  img.hs3Logo(src="/assets/img/hs3_default_white.svg", alt="Logo Hackerspace Trójmiasto")
