section#logos 
    -
      var logos =[
          {
            url: "https://hs3.pl/",
            name: "HS_Trojmiasto.png", 
            alt: "Logo Hackerspace Trójmiasto"
          },
          {
            url: "https://mvpmatch.co/for-freelancers",
            name: "rsz_logos_dark.png", 
            alt: "Logo MVP Match"
          },
          {
            url: "https://sarigato.org/",
            name: "Fundacja_Sarigato_logo.png", 
            alt: "logo Fundacji Sarigato"
          },
          {
            url: "https://hakersi.pl/",
            name: "Hakersi_logo_on_light_1.png", 
            alt: "logo Hakersi"
          },
          {
            url: "https://codeme.pl/",
            name: "codeme_logo_black_red_subtitle_black_rgb.png", 
            alt: "logo Code:Me"
          },
          {
            url: "",
            name: "logo_starter.png", 
            alt: "logo Starter"
          },
          
        ];
    each logo in logos
      +logo(logo.url, logo.name, logo.alt)