section.partners#partners
  h2.title.title-divider Partnerzy
  .row
    article 
      +logo("https://mvpmatch.co/for-freelancers", "match_logo_white_print.svg", alt="Logo MVP Match")
      p 
        | W 
        a(href="https://mvpmatch.co/for-freelancers") Match 
        |
        | znajdujemy freelancerom ciekawe, rozwojowe projekty. Dodatkowo dbamy byś
        | pracował z inspirującymi i kompetentymi ludźmi nie musząc poświęcać czasu 
        | na znajdowanie klientów i formalności.
      p Z nami możesz się rozwijać profesjonalnie i personalnie robiąc rzeczy, które lubisz!
      p(style="padding-top: 2rem;")
        | W tegorocznym Hacktoberfest przekażemy 10 EURO na Fundację Sarigato - Hakersi za każdą z pierwszych 30 osób, które zgłoszą 4 Pull Request w ramach imprez zorganizowanych przez Hackerspace Trójmiasto.
    article 
      +logo("https://sarigato.org/", "Fundacja_Sarigato_logo.png", alt="logo Fundacji Sarigato")       
      
      p 
        a(href="https://hakersi.pl/") Hakersi 
        |
        | to ogólnopolska społeczność tworzona przez 
        a(href="https://sarigato.org/") Fundację Sarigato,
        | 
        | która wspiera potrzebujące dzieci w rozwoju kompetencji cyfrowych i edukacji
        | technologicznej. 
      p Organizuje zajęcia z nowych technologii, korepetycje ze szkolnych przedmiotów i przekazuje komputery do nauki zdalnej. Od 2016 roku wsparła w nauce prawie 1000 dzieci w całej Polsce.
      +logo("https://hakersi.pl/", "Hakersi_logo_on_light_1.png", alt="logo Hakersi")
