include elements/_mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="/style/styles.scss")
    link(rel="icon", href="/assets/img/H-icon-square.png")

    title Hacktoberfest 2021
  body
    include sections/_header
    include sections/_hero 
    block content      
    include sections/_footer
    script(src="/js/index.js")
