.btn-discord {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  padding: 1em 1em;
  padding-left: 4em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  background-color: $secondary-accent-color;
  color: #fff;
  outline: transparent !important;
  letter-spacing: 1px;

  &:hover {
    transform: translateY(1px);
  }
  &:active {
    transform: translateY(2px);
  }
  &:before {
    content: '';
    background: url('/assets/img/discord.svg') center no-repeat;
    background-size: 3em 2em;
    width: 3em;
    padding-left: 1em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  @media (max-width: $min-md) {
    width: 100%;
  }
}

.btn-meetup {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  padding: 1em 2em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  background-color: $secondary-accent-color;
  color: #fff;
  outline: transparent !important;
  letter-spacing: 1px;

  &:hover {
    transform: translateY(1px);
  }
  &:active {
    transform: translateY(2px);
  }
}

.logo-sm {
  width: 200px;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  img {
    width: 100%;
    height: auto;
  }
}
