@use 'sass:color';

@mixin flex {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $min-md) {
    flex-direction: row;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin padding {
  padding: calc(20px + 5vw);

  @media screen and (min-width: $min-md) {
    padding: 80px;
  }
}

@mixin padding-articles {
  padding: 4rem 2rem;
  @media screen and (min-width: $min-md) {
    padding: 5rem;
  }
}

@mixin link {
  font-weight: $title-weight;
  letter-spacing: 2px;
}

@mixin background-links($color, $ratio: 25%, $ratiohover: 40%, $invert: false) {
  background-color: $color;

  a,
  a:visited {
    @if $invert {
      color: lighten($color, $ratio);
    } @else {
      color: darken($color, $ratio);
    }
    @include link;
  }

  a:hover,
  a:active {
    @if $invert {
      color: lighten($color, $ratiohover);
    } @else {
      color: darken($color, $ratiohover);
    }
  }
}
