html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $tertiary-accent-color;
  text-align: center;
  font-size: $sm-text-size;
  line-height: 1.5;
  @media (min-width: $min-md) {
    font-size: $text-size;
  }

  @media (min-width: $min-lg) {
    .row {
      @include flex;
      flex: 1;
    }
  }
}

h1 {
  color: $primary-color;
}
p {
  margin-bottom: 1rem;
}

.mainLogo {
  max-width: 600px;
  width: 80%;
}

a,
a:visited {
  color: $primary-accent-color;

  &:hover {
    color: $secondary-accent-color;
  }
}

section {
  @include padding;
}
.title {
  font-size: $title-size;
  line-height: 2.25rem;
  font-weight: $title-weight;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  color: white;
}
