html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $tertiary-accent-color;
  text-align: center;
  font-size: $sm-text-size;
  line-height: 1.5;
  @media (min-width: $min-md) {
    font-size: $text-size;
  }

  @media (min-width: $min-lg) {
    .row {
      @include flex;
      flex: 1;
    }
  }
}

h1 {
  color: $primary-color;
}
p {
  margin-bottom: 1rem;
}

.mainLogo {
  max-width: 600px;
  width: 80%;
}

a,
a:visited {
  color: $primary-accent-color;

  &:hover {
    color: $secondary-accent-color;
  }
}

section {
  @include padding;
}

.title-divider {
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-align: center;
  
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    background: url('/assets/img/flowers-horizontal.svg') center no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (max-width: $max-sm) {
      margin-left: -0.5em;
    }
  }
}

.title {
  font-size: $title-size;
  line-height: 2.25rem;
  font-weight: $title-weight;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  color: white;
}
