$primary-color: #f74700;
$secondary-color: #b53a25;
$tertiary-color: #a88771;

$primary-accent-color: #91a88c;
$secondary-accent-color: #677662;
$tertiary-accent-color: #2b3531;

$light-color: #dbe8d9;

/* borders */
$br-radius: 0.5rem;

/* fonts */
$sm-text-size: 14px;
$text-size: 18px;
$title-size: 1.875rem;
$subtitle-size: 1.5rem;
$title-weight: bold;

/*Media*/
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;
$min-md: 768px;
$min-lg: 960px;
$min-xl: 1200px;
$min-xxl: 1500px;

$corners: (
  "bl": "bottom-left",
  "br": "bottom-right",
  "tl": "top-left",
  "tr": "top-right",
);

$sizes: (
  "sm": 1em,
  "md": 2em,
  "lg": 3em
);
