@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: $tertiary-accent-color;
  text-align: center;
}

h1 {
  color: $primary-color;
}

.mainLogo {
  margin-top: 3em;
  margin-bottom: 1em;
  max-width: 300px;
}
