@import '_reset.scss';
@import '_variables.scss';
@import '_extends.scss';
@import '_layout.scss';

/* components */
@import 'elements.scss';

/* sections */
@import 'sections/_about';
@import 'sections/_events';
@import 'sections/_footer';
@import 'sections/_header';
@import 'sections/_hero';
@import 'sections/_partners';

@import '_utility.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
