extends ./pug/_layout

block content
  h1.title.title-divider Zasoby do wydarzeń

  section.resources
    +fancyBox(["bottom"])
      article 
        header
          h3 Warsztaty GitHub + Git 
          h4 Piotr Gaczkowski, 09.10.2021
        main
          ul
            li: a(href="https://education.github.com/git-cheat-sheet-education.pdf" target="_blank") Git Cheatsheet
