extends ./pug/_layout

block content
  h1.title.title-divider Zasoby do wydarzeń

  section.resources
    +fancyBox(["top", "left"])
      article 
        header
          h3 Zdobyłeś nowy przedmiot: Open Source (+10 do kariery)
          h4 Mateusz Nojek "Nojas", 09.10.2021
        main
          ul 
            li: a(href="#") Slajdy
            li: a(href="#") Projekt #1
            li: a(href="#") Projekt #2

    +fancyBox(["bottom"])
      article 
        header
          h3 Warsztaty GitHub + Git 
          h4 Piotr Gaczkowski, 09.10.2021
        main
          ul 
            li: a(href="#") Slajdy 
            li: a(href="#") Github Desktop 
            li: a(href="#") Przykładowe repo
            li: a(href="https://education.github.com/git-cheat-sheet-education.pdf" target="_blank") Git Cheatsheet

    +fancyBox(["top", "right"])
      article 
        header
          h3 Warsztaty Python &amp; Open Source: jak przygotować, opublikować i utrzymać paczkę na PyPI
          h4 Szymon Moliński, 23.10.2021
        main
          ul 
            li: a(href="#") Slajdy 
            li: a(href="#") Paczucha PyPi
    +fancyBox(["bottom", "right"])
      article 
        header
          h3 Błędy są super: Jak uczyć się na swoich błędach i wcielać to w życie
          h4 Piotr Suwała, 23.10.2021
        main
          ul 
            li: a(href="#") Slajdy 
            li: a(href="#") Nie róbcie błędów dzieci
